<h2>Login Page</h2>
<h3>click name to login:</h3>
<ul>
{{!-- loops over the data set --}}
{{#each patientData}}
    <li><a href="/patient/{{this._id}}">{{this.firstName}} {{this.lastName}}</a></li>
{{/each}}
</ul>
<br>
<h3>This page will be finished soon.</h3>


