#Top-header header {
	font-size: 32px;
    font-family: 'IBM Plex Sans', medium;
    line-height: 42px;
}

p{
 font-family: 'IBM Plex Mono', monospace;
 font-size: 14px;
 line-height: 20px;
}

/* #top-middle{
    line-height: ;
} */

.small-title{
    font-size: 18px;
}


#foot-left{
    line-height:2em;
    margin-right: 5em;
}