/* *{
	padding:0px;
} */
/* 
p{
	color: #707070;
} */

body {
	/* background-color: #ECF4EB; */
	background-color: white;
	/* margin-left: 24px;
	margin-right: 24px; */
}

#Top-header{
	margin-top: 85px;
}





#Top-header p {
	margin-top: 20px;
}



.top {
	font-size: 14px;
}
.bottom h2{
	font-size: 20px;
	padding:20px;
}
.bottom h3{
	font-size: 20px;
}
.bottom p{
	font-size: 14px;
	text-align:center;
}

#ft a{
	padding: -10px;
}

/*Top Middle*/
#top-middle{
	font-size: 14px;
	line-height: 2px;
	color:#707070;
	margin-left: 14px;
	margin-top:14px;

}

/* bottom find us */
#foot {
	background-color: #ABB1AB;
	height:400px;
	/* margin-right:-20px;
	margin-left:-20px; */

}
#foot-left{
	float: left;
	text-align: left;
	margin-left:14.4%;
}
#foot-right{
	float: right;
	text-align: left;
	margin-right:14.4%;
}

#foot-left a{
	font-size: 14px;
	line-height: 30px;
	margin-top: 50px;
	margin-left: 10px;
	color: white;
}

#foot-right p{
	font-size: 14px;
	color: white;
}
#copyright{
	clear: both;
	text-align: center;
	font-size: 14px;
	color: white;
}

/* about diabetes css */
.image{
	width: 59%;
}

#type1{
	font-size: 18px;
}
#type2{
	font-size: 18px;
}
#Gestational-Diabetes{
	font-size: 18px;
}

#bottom-part header{
	font-size:32px;
}

.samll-title{
	font-size:18px;
}

#bottom-part h6{
	font-size:18px;
}



