<div class="back_to_home">
    <a href="/patient/{{patientId._id}}">
        <i class="fa-solid fa-angle-left">&nbsp;</i><span>Dashboard</span>
    </a>
</div>
{{!-- <img src="/image/Dashboard.svg" alt="back"> --}}