<aside>
    <div id="profile">
        <div id="photo">
            <img src="/image/avatar.svg" alt="Doctor's image" width="144" height="144">
        </div>
        <div id="name">
            <p>{{firstName}} {{lastName}}
                <br>
                {{workPlace}}
            </p>
        </div>
    </div>

    <div id="options">
        {{!-- <div class="function"></div> "option> --}}
        <a href="/notfinished">
        <div class="function">
            <p>Profile</p>
        </div>
        </a>
        <a href="http://localhost:3000/clinician">
        <div class="function">
            <p>Dashboard</p>
        </div>
        </a>
        <a href="/notfinished">
        <div class="function">
            <p>Patient Management</p>
        </div>
        </a>
        <a href="/notfinished">
        <div class="function">
            <p>Log Out</p>
        </div>
        </a>
    </div>

</aside>