
p{
	color: #707070;
}

/* about us */
body {
	background-color: white;
	margin-left: 24px;
	margin-right: 24px;
}

#top-header{
	background-color: #ECF4EB;
	border-bottom-left-radius:80px 100px;
	border-bottom-right-radius:80px 100px;
	margin-left: -24px;
	margin-right: -24px;
}

#top-header header {
	padding-top: 88px;
}

#top-header header,h1,p,h2{
	margin-left: 24px;
	margin-right: 24px;
}

#top-header a{
	position:relative;
	left:7px;
	top:62px;

}




/* about diabetes */
#Top-header{
	background-color: #ECF4EB;
	border-bottom-left-radius:80px 100px;
	border-bottom-right-radius:80px 100px;
	margin-left: -24px;
	margin-right: -24px;
}
/* 改about diabetes中 homepage的按键 */
#Top-header a{
}


.back{
	position:relative;
	left:7px;
	top:62px;
}



#Top-middle{
	margin-left: 39px;

}




#Top-header header {
	
	padding-top: 88px;
	margin-left: 17px;

}

#Top-header iframe{
	margin-left: 45.67px;
	border-bottom-left-radius:20px 20px;
	border-bottom-right-radius:20px 20px;
	border-top-right-radius: 20px 20px;
	border-top-left-radius: 20px 20px;

}

/* 调about diabetes 三种type的位置 */
.s_title{
	margin-left: -18px;
}
/* 调about  diabetes中的     relex yor mind        eat well        exercise  */
.ss_title{
	margin-left: -20px;
}

.small-title{
	font-size:18px;
}


/*  调tips的位置 */
#tips{
	margin-left: -18px;
}

/* #vedio{
	
} */



.top {
	font-size: 14px;
}
.bottom h2{
	font-size: 20px;
	padding:20px;
}
.bottom h3{
	font-size: 20px;
}
.bottom p{
	font-size: 14px;
	text-align:center;
}

#ft a{
	padding: -10px;
}

/*Top Middle*/
#top-middle{
	margin-left: 14px;
	margin-top:14px;

}

/*paragraph*/
.paratitle{
	margin-bottom: 33px;
}

.paralink{
    margin-top :1rem;
	margin-left:1.8rem;
}

/* bottom find us */
#foot {
	background-color: #ABB1AB;
	height:400px;
	margin-right:-20px;
	margin-left:-20px;	
}
#foot-left{
	float: left;
	text-align: left;
	margin-left:14vw;
	margin-top:10vh;
}
#foot-right{
	float: right;
	text-align: left;
	margin-right:14vw;
	margin-top:10vh;
}

#foot-left a{
	font-size: 14px;
	color: white;
	
}

#foot-right p{
	font-size: 14px;
	color: white;
}
.copyright{
	clear: both;
	text-align: center;
	font-size: 14px;
	color: white;
}

/* .social-media{
	margin-;
} */

/* about diabetes css */
.image{
	width: 90%;
}

#type1{
	font-size: 18px;
}
#type2{
	font-size: 18px;
}
#Gestational-Diabetes{
	font-size: 18px;
}
#top-middle{
	line-height: 5px;
	color:#707070;
}

#bottom-part header{
	font-size:32px;
}

.small-title{
	font-size:18px;
}

#bottom-part h6{
	font-size:18px;
}





