* {
  margin: 10px;
  padding: 0px;
}

body {
  background-color: #ecf4eb;
}

#Top-header {
  padding: 21px;
  color: #707070;
  border-bottom-left-radius: 80px 100px;
  border-bottom-right-radius: 80px 100px;
  background-color: #cadeca;
}

#Top-header header {
  font-size: 40px;
}

#Top-header h1 {
  font-size: 25px;
  color: #494949;
}

#Top-header p {
  font-size: 14px;
}
#Top-header h2 {
  font-size: 20px;
}

.mid {
}

.top {
  font-size: 14px;
}
.bottom h2 {
  font-size: 20px;
  padding: 20px;
}
.bottom h3 {
  font-size: 20px;
}
.bottom p {
  font-size: 14px;
  text-align: center;
}

#ft a {
  padding: -10px;
}

/* bottom find us */
#foot {
  background-color: #abb1ab;
  height: 400px;
  margin-right: -20px;
  margin-left: -20px;
}
#foot-left {
  float: left;
  text-align: left;
}
#foot-right {
  float: right;
  text-align: left;
}
#copyright {
  clear: both;
  text-align: center;
  background-color: #abb1ab;
  height: 400px;
  margin-right: -20px;
  margin-left: -20px;
}
#foot-left {
  float: left;
  text-align: left;
}
#foot-right {
  float: right;
  text-align: left;
}

#foot-left a {
  font-size: 14px;
  color: white;
}

#foot-right p {
  font-size: 14px;
  color: white;
}
#copyright {
  clear: both;
  text-align: center;
  font-size: 14px;
  color: white;
}

/* about diabetes css */
.image {
  width: 90%;
}

#type1 {
  font-size: 18px;
}
#type2 {
  font-size: 18px;
}
#Gestational-Diabetes {
  font-size: 18px;
}
#top-middle {
  line-height: 5px;
  color: #707070;
}

#bottom-part header {
  font-size: 32px;
}

.samll-title {
  font-size: 18px;
}

#bottom-part h6 {
  font-size: 18px;
}
