{{!-- easy to get in clinician page and patient page for us to work --}}
<h1 style="margin-left: 20px;">Glucope</h1>
<p class="small_title" style="font-size: 20px; margin-left: 20px;">A Web App Helps to Cope Diabetes</p>

<button style="margin-left: 20px;">
  <a href="/clinician"> I'm a clinician </a>
</button>

<button>
  <a href="/patient"> I'm a patient </a>
</button>