{{!-- search bar for clinician --}}
<div class="search_bar">
    <span class="icon-fire"></span>
    <input id="toolbar-search-input" autocomplete="off" type="text" value="" placeholder="Search Comments Here"
        style="text-indent: 64px;">
    <input type="password" autocomplete="new-password" readonly="" disabled="true"
        style="display: none; position:absolute;left:-9999999px;width:0;height:0;">
</div>