<footer>
    <div id="links">
        <p>
            <a href="/notfinished">About Us</a><br>
            <a href="/notfinished">Privacy Policy</a><br>
            <a href="/notfinished">Data Transparency</a><br>
            <a href="/notfinished">Source Acknowledgement</a><br>
        </p>
    </div>

    <div id="contact">
        <p class="footer title">Find Us</p>
        <p class="social_media">
            <a href="https://www.linkedin.com/"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://www.twitter.com/"><i class="fab fa-twitter-square"></i></a>
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a>
        </p>
    </div>

    <div id="copyright">
        <p>
            © Copyright 2022 Team Glucope Melbourne<br>
            All Rights Reserved
        </p>
    </div>
</footer>