p, header, h2, h1{
    color: #707070;
}

#green_background{
	background-color: #ECF4EB;
}

#top-header h1{
	color: #494949;
}

#middle h2{
	color: #4B4B4B;
}

#login_exp a{
	color: #2B2B2B;
}

#foot {
	background-color: #ABB1AB;
}

#foot-left a{
	color: white;
}

#foot-right p{
	color: white;
}

#copyright p{
	color: white;
}

.social_media a{ 
	color: rgba(35,31,32,0.73)
}

.back{
	color:#707070;
}

a:link{
	color: #707070;
}

a:visited{
	color:rgba(143,209,126,1.00); 
}
