p{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 3.7vw;
	line-height: 5.3vw;
	letter-spacing: 0.08vw;
	font-weight: 400;
}

.sans_button{
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
}

h1, header {
	font-size: 8.5vw;
    font-family: 'IBM Plex Sans', medium;
    line-height: 11.2vw;
	font-weight: 500;
}

#top-header h1{
	font-family: 'IBM Plex Mono';
	font-size: 6.6vw;
	font-weight: 400;
	letter-spacing: 0.08vw;
}

h2{
	font-family: 'IBM Plex Mono';
	font-size: 5.33vw;
	font-weight: 450;
	letter-spacing: 0.08vw;
}

.small_title{
	font-size: 4.8vw;
}

#middle h2{
	line-height: 1.3em;
}

#login_exp p{
	font-weight: 500;
	letter-spacing: -0.1px;
}

#login_exp a{
	font-family: 'IBM Plex Mono', medium;
	font-weight: 900;
}

#foot-left a{
	font-size: 3.7vw;
	font-weight: 900;
	line-height: 8vw;
	
}

#foot-right p{
	font-size: 3.7vw;
	font-weight: 900;
	
}

#copyright p{
	font-size: 3.7vw;
	font-weight: 900;
}

.fab{
	font-size: 6.27vw;
}

#tips h2{
	font-family: 'IBM Plex Mono';
	font-size: 6.6vw;
}




