<body>
    <div class="not_found_margin">
        <div class="404">
            <h1 class="404_text">
                404
            </h1>
            <p class="404_para">
                You have reached the end of the site.
            </p>
            <a href="/"><button class="backtohome">Back to Home</button></a>
        </div>
</body>

<style>
    .not_found_margin {
        text-align: center;
        margin: 40vh auto;
    }

    .backtohome {
        margin-top: 2vh;
        padding: 10px 20px;
        border: 1px black solid;
        box-shadow: 4px 4px 4px;
        border-radius: 20px;
    }
</style>