<div class="background">
    <div class="chevrons">
        <a onclick="javascript:history.go(0);"><i class="fa-solid fa-chevron-left"></i>&nbsp;HomePage</a>
    </div>
    <div class="about_us_margin">
        <!-- Context starts -->
        <div id="diabete_background">
            <div class="abtdiabete">
                <div class="whatis">

                    <div id="intro">
                        <h1>What is Diabetes?</h1>
                        <p>
                            A condition defined by high blood glucose resulting from defects
                            in insulin secretion, insulin action or both.
                            <br>
                            It could be divided into three different categories which are:
                        </p>
                        <div id="inside_link">
                            <p><a href="#type1">1. Type 1</a></p>
                            <p><a href="#type2">2. Type 2</a></p>
                            <p><a href="#Gestational Diabetes">3. Gestational</a></p>
                        </div>
                    </div>

                    <div id="video">
                        <iframe src="https://www.youtube.com/embed/wZAjVQWbMlE" title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </div>

                    <div id="type_intro">
                        <p class="small_title">Type 1</p>
                        <p>Due to β-cell destruction, usually leading to absolute insulin deficiency.</p>
                        <p class="small_title">Type 2</p>
                        <p>Due to a progressive insulin secretory defect on the background of insulin resistance.</p>
                        <p class="small_title">Gestational Diabetes</p>
                        <p>Diagnosed in the 2nd or 3rd trimester of pregnancy that is not clearly overt diabetes.</p>
                    </div>

                    <div class="diabeteimg1">
                        <img src="image/diabetes3.png" id="diabeteimg">
                    </div>

                </div>



                <div class="howto">
                    <div class="abth1">
                        <h1>How to Cope with Diabetes?</h1>
                    </div>
                    <div id="middle">
                        <div class="relax">
                            <p class="small_title">Relax Your Mind</p>
                            <p>
                                Stress can raise your blood sugar. Learn ways to lower your stress.
                                Try deep breathing, gardening, taking a walk, meditating, working on your hobby,
                                or listening to your favorite music.
                            </p>
                            <p>
                                Ask for help if you feel down. A mental health professional, support group, member of
                                the clergy, friend, or family member who will listen to your concerns may help you feel
                                better.
                            </p>

                        </div>


                        <!-- eat well part -->
                        <div class="eat">
                            <div class="eattitle">
                                <p class="small_title">Eat Well</p>
                                <p>Make a diabetes meal plan with help from your health care team. Choose foods that are
                                    lower in calories, saturated fat,trans fat, sugar, and salt.Eat foods with more
                                    fiber, such as whole grain cereals, breads, crackers, rice, or pasta. Choose foods
                                    such as fruits, vegetables, whole grains, bread and cereals,and low-fat or skim milk
                                    and cheese. Drink water instead of juice and regular soda.</p>
                            </div>
                            <div class="diabeteimg2">
                                <img src="image/diabetes1.png" id="diabeteimg">
                            </div>


                        </div>
                    </div>


                    <div class="exercise">
                        <!-- exercise part -->
                        <div class="text3">
                            <p class="small_title">Exercise</p>
                            <p>It's never too late to reap the benefits of exercise, whether you're 45 or 95.
                                First of all, it simply makes you feel good to move.
                            </p>
                            <p>By becoming more active, you can also lower your blood sugar to keep diabetes under
                                control.
                            </p>
                            <p>
                                “You don't need to run a marathon to get results,” says Dawn Sherr, RD,
                                of the American Association of Diabetes Educators. “Walking, swimming,
                                and playing with the grandkids are all great ways to get exercise.”
                            </p>
                        </div>
                        <div class="diabeteimg3">
                            <img src="image/diabetes2.png" id="diabeteimg">
                        </div>



                    </div>


                    <!-- tips super link -->
                    <div id="about_tips">
                        <h2>Useful Tips</h2>
                        <p><a
                                href="https://www.diabetes.org.uk/guide-to-diabetes/enjoy-food/eating-with-diabetes/10-ways-to-eat-well-with-diabetes">
                                1. 10 Tips for Healthy Eating</a>
                        </p>
                        <p><a href="https://www.diabetes.co.uk/The-big-three-diabetes-signs-and-symptoms.html">
                                2. 3 Main Sign of Diabetes</a>
                        </p>
                        <p><a
                                href="https://www.mayoclinic.org/diseases-conditions/type-2-diabetes/in-depth/diabetes-prevention/art-20047639)">
                                3. 5 Tips for Diabetes Prevention</a>
                        </p>
                        <p><a
                                href="https://www.hsph.harvard.edu/nutritionsource/disease-prevention/diabetes-prevention/preventing-diabetes-full-story/">
                                4. Food can Prevent Diabetes</a>
                        </p>
                        <p><a
                                href="https://www.healthline.com/health-news/food-four-food-groups-that-raise-diabetes-risk-111313">
                                5. Food can Cause Diabetes</a>
                        </p>
                    </div>

                    <!-- Context Ends -->




                </div>

            </div>
        </div>
    </div>

    <!-- Footer Start  -->
    {{>footer}}