<div class="background">
    <div class="about_margin">
        <!-- Context starts -->
        <div id="about_us_bg">
            <div class="chevrons">
                <a onclick="javascript:history.go(-1);"><i class="fa-solid fa-chevron-left"></i>&nbsp;HomePage</a>
            </div>


            <div id="top-header">
                <h1>We Care&nbsp;&nbsp;：P
                </h1>
                <p>
                    Glucope is a flagship product of Diabetes@Home, which helps you
                    to manage your diabetes, recording data that can be monitored
                    remotely by your clinician.
                    Our mission is to create a new digital way to protect
                    your health with your own clinician more easily and conveniently.
                </p>

                <h2>Product features:</h2>
                <p>
                    Record your blood glucose level, weight, doses of insulin taken,
                    and exercise in Glucope according to the requirements of your clinician.
                </p>
            </div>
        </div>


        <div id="middle">
            <p>

                You can view each data tendency by checking the historical data recording
                and feel free to write any comments about the recorded data which your clinician
                will check frequently in case to ensure your health and give you some advice.
            </p>

            <h3>On the journey to health and wellness, we're right there with you.</h3>
        </div>

        <div id="bottom">
            <h2>Glucope team:</h2>
            <div class="name_list">
                <div class="individual">
                    <img src="/image/avatar-02.svg" />
                    <p>Jiuyu Zhu</p>
                </div>
                <div class="individual">
                    <img src="/image/avatar-03.svg" />
                    <p>Jiayao Lu</p>
                </div>
                <div class="individual">
                    <img src="/image/avatar-04.svg" />
                    <p>Hanying Li</p>
                </div>
                <div class="individual">
                    <img src="/image/avatar-05.svg" />
                    <p>Yufan Zhang</p>
                </div>
                <div class="individual">
                    <img src="/image/avatar-07.svg" />
                    <p>Hao Guan</p>
                </div>
            </div>
            <h2>Supervised by:</h2>
            <div class="dekko">
                <img src="/image/avatar-06.svg" />
                <div class="individual">
                    <p>Dekko Shi</p>
                </div>
            </div>

            <div id="login_exp">
                <p>To access more features, please <a href="http://localhost:3000/patient/login"
                        style="text-decoration: underline; font-size : 24px; font-weight: 500;">click</a> to login.</p>
            </div>
        </div>
    </div>
    {{>footer}}
    {{!-- {{>footer}} --}}
</div>
<div id="space"></div>