{{!-- act as body --}}
<div id="background_image" class="welcome_page">
  <div id="main_section">
    <div id="login">
      <h1>Welcome To Glucope</h1>
      <button>
        <a href="/clinician"> I'm a clinician </a>
      </button>
      <button>
        <a href="/patient/login"> I'm a patient </a>
      </button>
    </div>
    <div id="info">
      <h2>Effective Communication</h2>
      <p>
        By becoming more active, you can also lower your blood sugar to keep diabetes under control.
        <br>
        "You don't need to run a marathon to get results," says Dawn Sherr, RD, of the American Association of Diabetes
        Educators. "Walking, swimming, and playing with the grandkids are all great ways to get exercise."
      </p>
    </div>
  </div>
</div>
{{!-- {{>footer}} --}}
{{>footer}}