{{!-- <div id="input_box"> --}}
    <div id="update_password">
        <form action="" method="post">

            <div class="update_input">
                <label>Old Password</label>
                <input type="text" name="oldpassword" value="{{input.oldpassword}}" required />
            </div>
            <div class="update_input">
                <label>New Password</label>
                <input id="pass1" type="password" placeholder="Enter at least 8 digit" value="{{input.newpassword1}}"
                    name="newpassword1" onkeydown="return /^[A-Za-z0-9_@./#&+-]*$/.test(event.key)" required />
            </div>
            <div class="update_input">
                <label>Confirm New Password</label>
                <input id="pass2" type="password" placeholder="Enter at least 8 digit" value="{{input.newpassword2}}"
                    name="newpassword2" onkeyup="checkPass(); return false;" required />
            </div>
            <div id="err_msg">{{message}}</div>
            <div id="update_button">
                <button class="record_upload" type="submit">Submit</button>
            </div>

        </form>
        <a href="/patient/profile"><button class="return">Back</button></a>
    </div>
    {{!--
</div> --}}

<script>
    function checkPass() {
        var pass1 = document.getElementById('pass1');
        var pass2 = document.getElementById('pass2');
        var message = document.getElementById('err_msg');
        var goodColor = "#85bc85";
        var badColor = "#ff6666";

        if (pass1.value == pass2.value) {
            pass1.style.backgroundColor = goodColor;
            pass2.style.backgroundColor = goodColor;
            message.style.color = goodColor;
            message.innerHTML = "Match!"
        }
        else {
            pass2.style.backgroundColor = badColor;
            message.style.color = badColor;
            message.innerHTML = " These passwords don't match!"
        }
    }  
</script>