<div id="background_image" class="welcome_page">
    <div id="main_section">
        <div id="login">
            <h1>Welcome </br>to Glucope</h1>
            <div class="login_buttons">
                <button>
                    <a href="/clinician">I'm a Clinician</a>
                </button>
                <button>
                    <a href="/patient/login">I'm a Patient</a>
                </button>
            </div>
        </div>

        <div id="KV">
            <img src="/image/KV.svg">
        </div>
        <div id="info">
            <div id="info_box">
                <h2>About Diabetes</h2>
                <p>
                    Diabetes is a disease in which your blood sugar (glucose) levels are too high. You get diabetes if
                    your body's normal way of controlling blood sugar isn't working right.

                    There are 2 types of diabetes, type 1 and type 2. People with type 1 diabetes have to take insulin
                    (type 1 is sometimes called insulin-dependent diabetes).Some people with type 2 diabetes have to
                    take insulin, but many can just take pills and change their diet.Both types of diabetes can cause
                    serious long-term problems, like heart attacks and strokes.</p>

                <p><a href="/aboutdiabetes"> See More ></a></p>
            </div>
        </div>
    </div>
</div>


{{>footer}}