{{!-- nav bar section --}}
<nav id="patientnavbar">
    <li>
        <a href="/patient/{{_id}}">
            <i class="fa-solid fa-house 3x"></i>
            <span class="menu_text">&nbsp;Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/notfinished">
            <i class="fa-solid fa-medal 3x"></i>
            <span class="menu_text">&nbsp;Accomplishment</span>
        </a>
    </li>
    <li>
        <a href="/notfinished">
            <i class="fa-solid fa-user 3x"></i>
            <span class="menu_text">&nbsp;Profile</span>
        </a>
    </li>
</nav>