<div class = "comment_detail">
     <div class="region">
        <div id="commentTitle">
            <p class="listTitle">{{this.activity}}:Comment</p>
            <div>{{>searchbar}}</div>
        </div>

        <div class="wrapper">
            <div class = "single_comment"> 
                <div class = "single_title">
                    <div class = "type">
                        <p>Type</p>
                        <p>Glucose</p>
                     </div>
                    <div class = "trend">
                        <p>Trend</p>
                        <p>Rising</p>
                    </div>
                </div>                          

                <div class = "single_date">
                    <p> 12/31/2022 </p>
                </div>
                <div class = "single_comment_content">
                    <p>this is the commment for sample, content would be added.</p>
                </div>

                <div class = "comment_type">
                    <p>Glucose</p>
                    <p>114514nmol</p>
                </div>
            </div>
        </div>
    </div>
</div>
