<div class="searchbar">
    <i class="fa-solid fa-magnifying-glass"
        style="padding-right : 4px; padding-top :  10px; padding-bottom : 10px; padding-left : 8px;"></i>
    <input id="patientSearchBar" autocomplete="off" placeholder=" Search Patient Here"
        style="font-family:Arial, FontAwesome font-weight = 500 ">
</div>