<aside>
    <div id="profile">
        <div id="photo">
            <img src="/image/clincian_avatar.svg" alt="Doctor's image" width="144" height="144">
        </div>
        <div id="name">
            <p>{{firstName}} {{lastName}}
                <br>
                {{workPlace}}
            </p>
        </div>
    </div>

    <div id="options">
        <a href="/clinician/clinicianProfile">
            <div class="function">
                <p>Profile</p>
            </div>
        </a>
        <a href="/clinician/dashboard">
            <div class="function">
                <p>Dashboard</p>
            </div>
        </a>
        <a href="/clinician/createpatient">
            <div class="function">
                <p>Patient Management</p>
            </div>
        </a>
        <a href="/clinician/logout">
            <div class="function">
                <p>Log Out</p>
            </div>
        </a>
    </div>

</aside>